.consult {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 105px;
}

@media screen and (max-width: 991px) {
  .consult {
    margin-top: 45px;
    align-items: flex-start;
  }
}
