.consult__get-consult-btn {
  width: 262px;
  height: 61px;
  background-color: #4077F3;
  border: none;

  margin-top: 61px;

  font-family: "Inter";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .consult__get-consult-btn {
    display: none;
  }
}
