.promo__text-subtitle {
  margin-top: 30px;

  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  color: #E4E5EA;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .promo__text-subtitle {
    margin-top: 15px;
  }
}
