.consult__item-mobile {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  margin-right: 10px;
  min-width: 114px;

  font-family: "Montserrat";
  font-size: 13px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 15.85px;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.consult__item-mobile:nth-last-child(2), .consult__item-mobile:last-child {
  margin-bottom: 0;
}
.consult__item-mobile:last-child {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .consult__items-mobile {
    display: flex;
  }
}
