.cover__red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  top: 251px;
  left: -102px;
  opacity: .5;

  background-color:#961A1A;
  filter: blur(196px);
  z-index: -1;
}

@media screen and (max-width: 991px) {
  .cover__red-light {
    width: 211px;
    height: 265px;
    top: 241px;
    left: -55px;
  }
}
