@import url(../styles/vendor/normalize.css);
@import url(../styles/vendor/fonts.css);

.text-reset {
  margin: 0;
  padding: 0;
}
.link-hover-opacity {
  transition: opacity 0.3s ease;
}
.link-hover-opacity:hover {
  opacity: 0.8;
}
.section {
  width: 100%;
  max-width: 1140px;
}

.header__section_wide, .footer__section_wide {
  width: 100%;
  max-width: 1140px;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -2;
}

.cover__red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  top: 251px;
  left: -102px;
  opacity: .5;

  background-color:#961A1A;
  filter: blur(196px);
  z-index: -1;
}
.cover__purple-light {
  position: absolute;
  width: 259px;
  height: 259px;
  top: -154px;
  left: 602px;
  opacity: .5;

  background-color: #833AB4;
  filter: blur(196px);
  z-index: -1;
}
.cover__red-ball-1 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 547px;
  left: 851px;
  border-radius: 50%;

  background:
    radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px #DF7D7D40;
  backdrop-filter: blur(2px);
  filter: blur(2.5px);

  z-index: -1;
}
.cover__red-ball-2 {
  position: absolute;
  width: 83px;
  height: 83px;
  top: 83px;
  left: 519px;
  border-radius: 50%;

  background:
    radial-gradient(64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px #DF7D7D40;
  backdrop-filter: blur(2px);


  z-index: -1;
}
.cover__purple-ball {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -2px;
  left: 868px;
  border-radius: 50%;

  background:
    radial-gradient(64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px #B176D940;
  backdrop-filter: blur(2px);
  filter: blur(5px);

  z-index: -1;
}
.cover__glass {
  display: none;
  position: absolute;
  width: 320px;
  height: 445px;
  top: 0;
  left: 0;

  background:
    radial-gradient(238.53% 189.02% at 3.2% 3.49%,
    rgba(255, 246, 233, 0.1) 0%,
    rgba(26, 29, 35, 0.1) 26.62%,
    rgba(26, 29, 35, 0.1) 52.1%,
    rgba(26, 29, 35, 0.01) 70.17%,
    rgba(26, 29, 35, 0) 100%
  );
  filter: blur(7.5px);
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 73px;
  margin-top: 46px;
}

.header__logo {
  margin-top: 11px;
  text-decoration: none;
}
.header__logo-img {
  width: 140px;
  height: 24px;

  background-image: url(../images/logo/logo-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
}
.header__logo-text {
  font-family: "Montserrat";
  max-width: 165px;
  margin-top: 10px;

  font-size: 10px;
  color: #E4E5EA;
  font-weight: 300;
  line-height: 12.19px;
  text-align: left;
}

.header__nav-menu {
  list-style-type: none;
  margin-top: 15px;
}
.header__nav-menu-list {
  display: flex;
  list-style-type: none;
}
.header__nav-menu-item {
  margin-right: 30px;
  white-space: nowrap;

}
.header__nav-menu-item:last-child {
  margin-right: 0;
}
.header__nav-menu-item-link {
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.header__contacts-list {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  margin-top: 15px;
}

.header__contacts-item:first-child {
  margin-right: 49px;
  align-self: start;
}
.header__contacts-item {
  font-size: 0;

  margin-right: 34px;
}
.header__contacts-item:last-child {
  margin-right: 0;
}

.header__contacts-phone-number {
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  font-style: normal;

  white-space: nowrap;
}

.header__props-button_unset {
  border: none;
  background-color: transparent;
  outline: none;

  cursor: pointer;
}

.header__contacts-item-telegram {
  width: 16.68px;
  height: 13.99px;

  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__contacts-item-viber {
  width: 16px;
  height: 15.2px;

  background-image: url(../images/viber.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__contacts-item-whatsapp {
  width: 16px;
  height: 16px;

  background-image: url(../images/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  justify-content: space-between;
}

.promo {
  margin-top: 90px;
}
.promo__text-head {
  font-family: "Inter";
  font-size: 48px;
  line-height: 58px;
  color: #E4E5EA;
  font-weight: 400;
}
.promo__text-span {
  font-family: "Inter";
  font-size: 48px;
  background-image: linear-gradient(90deg,  #FCB045, #FF3F78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-weight: 900;
}
.promo__text-subtitle {
  margin-top: 30px;

  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  color: #E4E5EA;
  font-weight: 400;
}

.consult {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 105px;
}
.consult__head {
  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  color: #E4E5EA;
  font-weight: 500;
  line-height: 22px;

  text-align: right;
}
.consult__head-span {
  font-weight: 700;
  letter-spacing: .05em;

  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-transform: uppercase;
}

.consult__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 300px;
  margin-top: 40px;
  list-style-type: none;
}
.consult__item {
  min-width: 134px;
  margin-bottom: 30px;
}
.consult__icon-line {
  width: 10px;
  height: 1px;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  margin-right: 5px;
  margin-top: -1px;
}
.consult__item:nth-last-child(2), .consult__item:last-child {
  margin-bottom: 0;
}

.consult__item-head {
  font-family: "Inter";
  font-size: 18px;
  letter-spacing: .05em;
  color: #E4E5EA;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;

  text-align: right;
}
.consult__item-text {
  margin-top: 6px;

  font-family: "Montserrat";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 19.5px;

  text-align: right;
}

.consult__get-consult-btn {
  width: 262px;
  height: 61px;
  background-color: #4077F3;
  border: none;

  margin-top: 61px;

  font-family: "Inter";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 500;
  cursor: pointer;
}

.footer {
  display: flex;
  min-height: 315px;
  margin-top: 69px;
  justify-content: space-between;
}

.footer__left-container {
  display: flex;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}
.footer__nav-list:nth-child(1) {
  margin-right: 98px;
}
.footer__nav-list:nth-child(2) {
  margin-right: 52px;
}

.footer__align_right {
  text-align: right;
  align-items: flex-end;
  margin-right: 0 !important;
}

.footer__nav-list-head {
  font-family: "Inter";
  font-size: 14px;
  color: #656566;
  font-weight: 700;
  letter-spacing: .05em;

  text-transform: uppercase;
}
.footer__nav-list-pseudo-head {
  height: 16.09px;
}

.footer__nav-list-items {
  list-style-type: none;
  margin-top: 20px;
  white-space: nowrap;
}
.footer__nav-list-item {
  margin-bottom: 10px;
}
.footer__nav-list-item:last-child {
  margin-bottom: 0;
}

.footer__nav-list-link {
  font-family: "Inter";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 19px;

  text-decoration: none;
  white-space: nowrap;
}
.footer__nav-list-phone-number {
  font-family: "Inter";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 500;
  line-height: 19.36px;
  font-style: normal;
  white-space: nowrap;
}
.footer__nav-list-item {
}

.footer__clients-thanks_visible {
  display: none;
}

.footer__letters-thanks_visible {
  display: inline-block;
}

.footer__phone-number_set-margin {
  margin-bottom: 23px;
}
.footer__contacts_set-margin {
  margin-bottom: 22.01px;
}

.footer__setprops_text {
  font-family: "Inter";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 19.36px;
}

.footer__contacts-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.footer__contacts-item {
  font-size: 0;
}
.footer__contacts-item:nth-child(1) {
  margin-right: 13.65px;
}
.footer__contacts-item:nth-child(2) {
  margin-right: 14px;
}

.footer__props-button_unset {
  border: none;
  background-color: transparent;
  outline: none;

  cursor: pointer;
}
.footer__nav-list-item-telegram {
  width: 16.68px;
  height: 13.99px;

  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__nav-list-item-viber {
  width: 16px;
  height: 15.2px;

  background-image: url(../images/viber.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__nav-list-item-whatsapp {
  width: 16px;
  height: 16px;

  background-image: url(../images/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__text_bottom {
  font-family: "Montserrat";
  font-size: 12px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 14.63px;

  text-align: right;
}
.footer__copyright {
  margin-top: 70px;
}
.footer__policy {
  margin-top: 6px;
  text-decoration: underline;
}

.consult__items-mobile {
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: 20px;
  list-style-type: none;
}
.consult__item-mobile {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  margin-right: 10px;
  min-width: 114px;

  font-family: "Montserrat";
  font-size: 13px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 15.85px;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.consult__item-mobile:nth-last-child(2), .consult__item-mobile:last-child {
  margin-bottom: 0;
}
.consult__item-mobile:last-child {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .cover {
    top: 55px;
  }
  .cover__red-light {
    width: 211px;
    height: 210px;
    top: 241px;
    left: -55px;
  }
  .cover__purple-light {
    top: 107px;
    left: 258px;
  }
  .cover__red-ball-1 {
    display: none;
  }
  .cover__red-ball-2 {
    width: 43px;
    height: 43px;
    top: 402px;
    left: 29px;

    backdrop-filter: blur(2px);
    filter: blur(5px);
  }
  .cover__purple-ball {
    width: 40px;
    height: 40px;
    top: 236px;
    left: 296px;
  }
  .cover__glass {
    display: block;
  }

  .section {
    max-width: 289px;
  }

  .header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 55px;
    margin-top: 0;
  }

  .header__section_wide {
    width: 100%;
    max-width: 100%;
  }

  .header__logo {
    display: none;
  }
  .header__contacts-list {
    display: none;
  }

  .header__nav-menu {
    max-width: 289px;
    margin-top: 0;
  }
  .header__nav-menu-list {

  }
  .header__nav-menu-item {
    margin-right: 16px;
  }
  .header__nav-menu-item-link {
    font-size: 12px;
    text-transform: uppercase;
  }
  .header__item_visible {
    display: none;
  }

  .content {
    margin-top: 55px;
    flex-direction: column;
  }
  .promo {
    margin-top: 40xp;
  }

  .promo__text-head {
    font-family: Inter;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0em;
  }
  .promo__text-span {
    font-size: 36px;
  }
  .promo__text-subtitle {
    margin-top: 15px;
  }

  .consult {
    margin-top: 45px;
    align-items: flex-start;
  }
  .consult__items {
    display: none;
  }
  .consult__head {
    text-align: left;
  }
  .consult__head-span {
    text-transform: none;
  }

  .consult__items-mobile {
    display: flex;
  }

  .consult__get-consult-btn {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    background-color: #000;
    margin-top: 59px;
  }
  .footer__section_wide {
    width: 100%;
    max-width: 100%;
  }
  .footer__left-container {
    flex-flow: wrap;
    max-width: 289px;
    margin-top: 42px;
  }

  .footer__nav-list-head {
    font-size: 12px;
  }
  .footer__nav-list-items {
    margin-top: 20px;
  }
  .footer__nav-list-item {
    margin-bottom: 10px;
  }
  .footer__nav-list-item:last-child {
    margin-bottom: 0;
  }

  .footer__nav-list-link {
    text-transform: none;
    font-size: 14px;
    line-height: 17px;

    white-space: normal;
  }
  .footer__nav-list, .footer__nav-list:nth-child(1), .footer__nav-list:nth-child(2) {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .footer__nav-list:nth-child(2) {
    max-width: 100px;
    margin-right: 48px;
  }
  .footer__nav-list:nth-child(3) {
    max-width: 100px;
  }

  .footer__clients-thanks_visible {
    display: inline-block;
  }

  .footer__letters-thanks_visible {
    display: none;
  }
}
