@import url(../styles/vendor/normalize.css);
@import url(../styles/vendor/fonts.css);

.text-reset {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  min-height: 73px;
  margin-top: 46px;
}

.header__logo {
  margin-top: 11px;
  text-decoration: none;
}
.header__logo-img {
  min-width: 140px;
  max-width: 140px;
  min-height: 24px;
  max-height: 24px;

  background-image: url(../images/logo/logo-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
}
.header__logo-text {
  font-family: "Montserrat";
  max-width: 165px;
  margin-top: 10px;

  font-size: 10px;
  color: #E4E5EA;
  font-weight: 300;
  line-height: 12.19px;
  text-align: left;
}

.header__nav-menu {
  list-style-type: none;
  margin-top: 15px;
}
.header__nav-menu-list {
  display: flex;
  list-style-type: none;
}
.header__nav-menu-item {
  margin-right: 30px;
  white-space: nowrap;

}
.header__nav-menu-item:last-child {
  margin-right: 0;
}
.header__nav-menu-item-link {
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.header__contacts-list {
  display: flex;
  list-style-type: none;
  margin-top: 15px;
}
.header__contacts-item {
  font-size: 0;
}

.header__contacts-item-link {

}
.header__contacts-phone-number {
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
}
.header__contacts-item-telegram {
  min-width: 17px;
  max-width: 17px;
  min-height: 14px;
  max-height: 14px;
}
.header__contacts-item-viber {
  min-width: 16px;
  max-width: 16px;
  min-height: 15px;
  max-height: 15px;
}
.header__contacts-item-whatsapp {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
}
