.footer__contacts-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

@media screen and (max-width: 991px) {
  .footer__contacts-items {
    justify-content: flex-start;
  }
}
