.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.footer__nav-list:nth-child(1) {
  margin-right: 98px;
}
.footer__nav-list:nth-child(2) {
  margin-right: 52px;
}
