.footer__nav-list-link {
  font-family: "Inter";
  font-size: 16px;
  color: #E4E5EA;
  font-weight: 400;
  line-height: 19px;

  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .footer__nav-list-link {
    text-transform: none;
    font-size: 14px;
    line-height: 17px;

    white-space: normal;
  }
}
