.footer__nav-list-item-whatsapp {
  width: 16px;
  height: 16px;

  background-image: url(../../../images/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .footer__nav-list-item-whatsapp {
    width: 19.2px;
    height: 19.2px;
  }
}
