.consult__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 300px;
  margin-top: 40px;
  list-style-type: none;
}

@media screen and (max-width: 991px) {
  .consult__items {
    display: none;
  }
}
